<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% lists.each do |list| %>
      <tr>
        <td><%= link_to list.title,list, class: "list_#{list.id}" %></td>
        <td><%= list.body %></td>
        <td id=<%= "list-" + list.id.to_s %> >
            <%= render "public/favorites/btn", list: list %>
        </td>
        <td><%= render "public/list_comments/counter", list: list %></td>
      </tr>
    <% end %>
  </tbody>
</table>