<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>新規会員登録</h2>

        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: "name" %>
          </div>
          
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>


          <div class="actions">
            <%= f.submit "新規会員登録" ,class: 'btn btn-sm btn-success'%>
          </div>
          <% end %>

          <h4 class="section-ttl">既に登録済みの方は</h4>
          <p><%= link_to "こちら", new_user_session_path, class: "underline" %>からログインしてください。</p>
    </div>
  </div>
</div>
